<div class = "container">
    <% @users.each do |user| %>
      <% if user != current_user  %>
        <h5> <%= user.first_name %> <%= user.last_name %> </h5>
        <%= link_to "connect", connections_path(friend_id: user.id), data: { turbo_method: :post} %>
        <%#= link_to "disconnect", connections_path(), data: { turbo_method: :delete} %>
        <%= link_to "see this user", profile_path(user) %>
      <% end %>
    <% end  %>
</div>
