body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.title {
  color: #8246EA;
  font-size: 36px;
  margin: 0;
}

.home-buttons {
  display: flex;
  gap: 20px;
}

.hm-btn {
  display: inline-block;
  background-color: #8246EA; /* A lighter shade of the primary color */
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hm-btn:hover {
  background-color: #4D04C4; /* Primary color */
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
