body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.title {
  color: #8246EA;
  font-size: 128px;
}

.slogan {
  color: #8246EA;
  font-size: 40px;
}

.home-button {
  display: flex;
  gap: 20px;
  width: 300px;
}

.main-btn {
  display: inline-block;
  background-color: #8246EA;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.main-btn:hover {
  background-color: #4D04C4;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lighthouse {
  text-align: right;
}

.container.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  padding-left: 100px;
}

.main-container {
  background-color: #4D04C4;
  padding-top: 50px;
}

.bottom {
  padding-top: 50px;
}

.index {
  position: sticky;
  top: 20px;
}

.index-title {
  color: #8246EA;
}

.index-intro {
  color: rgb(140, 140, 140);
  font-size: 18px;
}

.index-elements {
  color: #4D04C4;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.card-text{
  color: #fff;
  font-size: 36px;
  margin-top: 20px;
}

.bottom {
  display: flex;
  align-items: start;
  margin-left: 50px;
  padding-bottom: 50px;
}

hr {
  margin: 5rem 0;
  border: 0;
  border-top: 1px solid #fff;
  opacity: 1.0;
}

.container.index {
  flex: 0 0 50%;

}

.bottom > div:not(.container.index) {
  flex: 1;
}

.details {
  padding-left: 50px;
  padding-right: 50px;
}

.description-item {
  color: #fff;
}
