<div class="container mb-3">
 <h1 class="text-center m-4 text-title">New Pitch</h1>
  <%= render "form", pitch: @pitch %>
  <br>
  <%= link_to "Back to pitches", pitches_path , class: "btn btn-outline-success btn-sm" %>
</div>
