<div class="container mt-5">
  <div class="row justify-content-center m-5">
    <div class="col-md-9">
      <div class="card" style="box-shadow: 2px 4px 4px rgba(0, 0, 2, 0.1);">
        <div class="card-body mb-4">
          <h1 class="card-title"><%= @pitch.title %></h1>


          <div class="d-flex justify-content-between mb-3">
            <%= link_to "Edit this pitch", edit_pitch_path(@pitch), class: "btn btn-outline-primary btn-sm m-3" if @pitch.user == current_user %>
            <%= link_to "Back to pitches", pitches_path, class: "btn btn-outline-success btn-sm center m-3" %>
            <% if @pitch.user == current_user %>
              <%= button_to "Destroy this pitch", @pitch, method: :delete, class: "btn btn-outline-danger btn-sm m-3", data: { confirm: "Are you sure?" } %>
            <% else %>

            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
