<div class="container chat-index-container">
<% @chatrooms.each do |chat| %>
  <%= link_to chatroom_path(chat) do %>
    <% if current_user == chat.sender %>
      <%= chat.receiver.first_name %>
    <% else %>
      <%= chat.sender.first_name %>
    <% end %>
  <% end %>
<% end %>
</div>
