<body>
    <div class="main-container">
        <div class="container home-container">
            <h1 class="title">Genix</h1>
            <p>Where Every Great Idea Begins</p>
            <div class="home-buttons">
                <a href="#" class="hm-btn">Explore Pitches</a>
                <a href="#" class="hm-btn">View Projects</a>
                <a href="#" class="hm-btn">Connect</a>
                <a href="#" class="hm-btn">Chat</a>
            </div>
        </div>
        <div class="description-container">
            <div class="description-item">
                <img src="link_to_image" alt="Explore Pitches">
                <p>Explore Pitches allows users to discover, comment, rate, and save project ideas.</p>
            </div>
            <div class="description-item">
                <img src="link_to_image" alt="View Projects">
                <p>Projects allows people to browse projects, apply to become a member, or post their project and state they need someone with specific skillsets to collaborate.</p>
            </div>
            <div class="description-item">
                <img src="link_to_image" alt="Connect">
                <p>Connect allows people to meet other like-minded programmers tailored to each language skill or passion.</p>
            </div>
            <div class="description-item">
                <img src="link_to_image" alt="Chat">
                <p>The chat is just a chat to connect with others.</p>
            </div>
        </div>
    </div>
</body>
