<body>
    <div class="container home-container">
      <h1 class="title">Genix</h1>
      <p>Where Every Great Idea Begins</p>
              <div class="home-buttons">
            <a href="#" class="hm-btn">Explore Pitches</a>
            <a href="#" class="hm-btn">Connect</a>
            <a href="#" class="hm-btn">Chat</a>
            <a href="#" class="hm-btn">Projects</a>
          </div>
    </div>

</body>

