 <h1 class="text-center">Editing a project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show this project", @project , class: "btn btn-outline-success " %> |
  <%= link_to "Back to projects", projects_path, class: "btn btn-outline-success "%>
</div>
