.connect-bar {
  background: linear-gradient(#8246EA 13%, 0, #f8f9fa 87%);
  padding: 20px;
  border-right: 1px solid #ddd;
  border-radius: 5px;
  align-items: left;
  border-radius: 10px;
}

.sticky {
  position: sticky;
  top: 20px;
}
