body {
  background-color: #8246EA;
}

  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-radius: 5px;
    align-items: left;
    width: 100%;
  }


  .list-group-item {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10;

  }

  .list-group-item:hover {
    background-color: #e5e5e5;
  }

  .list-group-item{
    background-color: #f8f9fa;
    border: none;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10;

  }


  .list-group-item:hover {
    background-color: #e5e5e5;
  }

  .img-fluid  {
    width: 90px;
    height: 90px;
  }

  .img-comment{
    width: 6px;
    height: 6px;
    border-radius: 10px;

  }

  .img-pitches {
    width: 100%;
    height: 100%;
  }
.pitch-container{
  margin-bottom: 20px;
}
