.connect-container{
  margin-bottom: 20px;
}


.connect-bar {
  background: linear-gradient(#8246EA 15%, 0, #f8f9fa 85%);
  padding: 20px;
  border-right: 1px solid #ddd;
  border-radius: 5px;
  align-items: left;
  border-radius: 10px;
}

.sticky {
  position: sticky;
  top: 20px;
}

.conect-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}

.conect-search {
  text-align: center;
  font-size: 24px;
}

.img-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
