.proj-container{
  margin-bottom: 20px;
}

.bar {
  position: sticky;
  top: 20px;
  background: linear-gradient(#8246EA 15%, 0, #f8f9fa 85%);
  padding: 20px;
  border-right: 1px solid #ddd;
  border-radius: 5px;
  align-items: left;
  border-radius: 10px;
}

.sticky {
  position: sticky;
  top: 20px;
}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.whole-card{
  margin: 0px 8px 0px 0px;
  a{
    text-decoration: none;
  }
}

.img-proj{
  align-self: flex-end;
}

.card-proj {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  color: black;
}

.card-content-proj {
  flex-grow: 1;
  padding-left: 1em;
}

.card-category-proj {
  font-size: 16px;
  font-weight: 300;
  color: #333;
}


.card-title-proj {
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

.list-group-item a{
  text-decoration: none;
  color: rgb(115, 115, 115);
}
