.chat-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  a {
    width: 100%;
    text-decoration: none;
  }

  hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #c0c0c0;
    opacity: 1.0;
  }
}

.chat-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
}
