body {
  background-color: #8246EA;
}

  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-radius: 5px;
    align-items: left;
    width: 100%;
  }

.sticky {
  position: sticky;
  top: 20px;
}
.pitch-card{
  border-radius: 10px;
}
  .pitches-bar {
    background: linear-gradient(#8246EA 15%, 0, #f8f9fa 85%);
    padding: 20px;
    border-right: 1px solid #ddd;
    border-radius: 5px;
    align-items: left;
    border-radius: 10px;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10;

  }

  .list-group-item:hover {
    background-color: #e5e5e5;
  }

  .list-group-item{
    background-color: #f8f9fa;
    border: none;
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10;

  }


  .list-group-item:hover {
    background-color: #e5e5e5;
  }

  .img-fluid  {
    width: 90px;
    height: 90px;

  }
  .card-body-pitches{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #8246EA;
    border-radius: 10px;

  }

  .img-comment{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    margin: -30px auto 1.2rem;
    border: #f8f9fa 2px solid var(--color-background-container);
    background-color: #ddd;

  }
  .border-index{
    border: 1px solid #8246EA;
  }

  .img-pitches {
    width: 80%;
    height: 100%;
    margin: -30px auto 1.2rem;
    border: #f8f9fa 2px solid var(--color-background-container);
    background-color: #ddd;
    display: flex;
    align-items: center;
  }
.pitch-container{
  margin-bottom: 20px;

}

.card-text{
  color: #040404;
  font-size: 36px;
  margin-top: 20px;

}

.card-pitches{
  color: gray;
  font-size: 16px;
  padding: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: block;
  word-wrap: break-word;
  max-height: 6em;
}

.button-mobile {
  display: none;
}

@media (max-width: 576px) {
  .button-mobile {
    display: inline;
  }
  .sticky {
    display: none;
  }
  .pitch-container {
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
  }
}
