.proj-container {
  width: 90%;
  margin: 0 auto;
}

.proj-content{
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 50%;
    object-fit: cover;
  }
}

.proj-title {
  text-align: center;
}

.proj-hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid black;
  opacity: .75;
}

.proj-card {
  border-radius: 10px;
}

.gray{
  color: gray;
}

.github-link{
  a {
    text-decoration: none;
    color: #8246EA;
    font-weight: 700;
  }
  i {
    font-size: 20px;
  }
}
