body {
  background-color: #f3f2ef;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

.jumbotron {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-category{
  font-size: 20px;

}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #8246EA;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-success {
  background-color: #8246EA;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-success:hover {
  background-color: #9971df;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  color: #fff
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-title-show {
  font-size: 32px;
  color: #333;

}
.comments-icons i {
  color: rgb(210, 169, 4);
}

.card-subtitle {
  font-size: 16px;
  color: #666;
}

.btn-roxo {
  background-color:#8246EA ;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.comment-box-pitch {
  background-color: #f0f2f5;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
}

.comment-user-img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;

}

.comment-box-pitch .comment-box-content {
  flex-grow: 1;
}

.comment-box-pitch h5 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
}

.comment-box-pitch .form-group {
  margin-bottom: 8px;
}

.comment-box-pitch textarea {
  width: 100%;
  min-height: 40px;
  padding: 8px;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  resize: vertical;
}

.comment-box-pitch .btn-primary:hover {
  background-color: #0e5aeb;
}

/* Remova o estilo de foco padrão do botão */
.comment-box .btn-primary:focus {
  box-shadow: none;
}

/* Estilize o botão de envio */
.comment-box .btn-submit {
  margin-top: 8px;
}

.card-body-pitch{

}
