body {
  background-color: #f3f2ef;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

.jumbotron {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.card-category{
  font-size: 20px;
  color: black;

}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #8246EA;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-success {
  background-color: #8246EA;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-success:hover {
  background-color: #9971df;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  color: #fff
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-title-show {
  font-size: 32px;
  color: #333;

}
.card-body-pitches{
  border: 1px solid #8246EA;
}
.comments-icons i {
  color: rgb(255, 204, 0);
}

.card-subtitle {
  font-size: 16px;
  color: #8246EA;
}

.btn-roxo {
  background-color:#8246EA ;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.comment-box-pitch {
  background-color: #ececec;
  border: 1px solid #8246EA;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
}

.comment-user-img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;


}
.form-group-s{
  color: black;
}
.comment-box-pitch-content{
  width: 80%;

}

.comment-box-pitch .comment-box-content {
  flex-grow: 3;
}

.comment-box-pitch h5 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  color :black
}

.comment-box-pitch .form-group {
  margin-bottom: 8px;
}

.comment-box-pitch textarea {
  width: 100%;
  min-height: 40px;
  padding: 12px;
  border: 1px solid #8246EA;
  border-radius: 4px;
  resize: vertical;
}

.comment-box-pitch .btn-primary:hover {
  background-color: #0e5aeb;
}


.comment-box .btn-primary:focus {
  box-shadow: none;
}

.comment-box .btn-submit {
  margin-top: 8px;
}

.form-group-show{
  width: 100%;
  height: 100%;
}

.card-category-show{
  font-size: 20px;
  color: #7e7d7d;
}

.card-text-pitch {
  color: #7e7d7d
}
.img-pitches{
  border: 2px solid #8246EA;
}
.card-shadow{
  border: 1px solid #8246EA;
}
