.img-profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.rounded-boundary {
  border-radius: 15px;
  border: 1px solid #8246EA;
}

.profile-design {
  background: linear-gradient(#8246EA 25%, 0, #f8f9fa 75%);

}

@media (max-width: 576px) {
  .subcontainer {
    display: flex;
    flex-direction: column;
  }
}
