.show-cont{
  margin-bottom: 48px;
}


.member-container {
  width: 30%;
  font-weight: 700;
  text-align: center;
}

.btn-roxo {
  background-color:#8246EA ;
  display: inline-block;
  padding: 10px 20px;
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 50px; /* Raio da borda para tornar o botão redondo */
  text-decoration: none; /* Remova a sublinhado do link */
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
